@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --menu-color: rgba(255, 255, 255, 0.95);
  --hover-color: rgba(255, 255, 255, 0.5);
  --dark-letter: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin: 40px 0 0 40px;
}
.hamburger-menu {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 120px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotate(180deg);
}

.title-menu {
  position: fixed;
  top: 50px;
  right: 40px;
  cursor: pointer;
  display: flex;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}

.hamburger-menu:hover .line {
  color: var(--hover-color);
}
.title-menu:hover {
  color: var(--hover-color);
}

.line {
  color: white;
  height: 2px;
  background-color: white;
  transform: rotate(180deg);
}
.line-1 {
  width: 60%;
}
.line-2 {
  width: 100%;
}
.line-3 {
  width: 80%;
}
.nav .nav-list {
  position: fixed;
  top: -20%;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: var(--menu-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.nav .nav-list {
  text-align: center;
}

.nav .nav-list .nav-brand {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 70px;
}

.nav .nav-list .nav-item {
  list-style: none;
  margin-bottom: 12px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: var(--dark-letter);
}

.nav .nav-list .nav-item .nav-link:hover {
  border-bottom: 1.3px solid var(--dark-letter);
}

.lingua li:nth-child(1) {
  border-bottom: 1px solid var(--dark-letter);
}

.lingua {
  display: flex;

  font-size: 18px;
  list-style: none;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-letter);
  margin: 30px 0px;
}

.lingua li a {
  text-decoration: none;
  color: var(--dark-letter);
  display: flex;
}
.lingua li:nth-child(1) {
  border-bottom: 1px solid var(--dark-letter);
  margin-right: 20px;
}
.lingua li:nth-child(2) {
  margin-left: 20px;
}
.lingua li:nth-child(2):hover {
  border-bottom: 1px solid var(--dark-letter);
}
.social {
  display: flex;
}

.social .social-item {
  list-style: none;
  font-size: 32px;
  padding: 10px 13px;
  margin-top: 15px;
}
.social .social-link i {
  text-decoration: none;
  color: rgb(107, 106, 106);
  transition: color 0.4s ease;
}

.social .social-link i:hover {
  color: rgb(150, 150, 150);
}

.social .social-item:nth-of-type(1) {
  margin-left: 25px;
}
.social .social-item:nth-of-type(5) {
  margin-left: 30px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url('https://www.mariza.com/imagens/fundos/banner_2018_1.jpg')
    center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: -1;
}

.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
}

.close-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  cursor: pointer;
}
.close-menu img {
  width: 50px;
}

.barra {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: absolute;
  bottom: -3%;
  left: 0;
  clip-path: polygon(50% 34%, 52% 0, 100% 40%, 100% 100%, 0 100%, 0 40%, 48% 0);
}
.wrap {
  width: 100%;
  height: 100vh;
}

.wrap h1 {
  font-weight: 100;
  margin: 30px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 13%;
}

.wrap .img-container {
  width: 90%;
  height: 80%;
  position: relative;
  display: flex;
  margin: 50px auto;
  background-image: url('https://www.mariza.com/inc/phpthumb2/thumbigniter.php?src=/home/velcrodesign/webapps/mariza/uploads/destaques/marizathumblagrima2020.jpg&w=1360&h=765');
  background-position: center;
  background-size: cover;
  background-color: black;
}

.wrap .img-container h1 {
  position: absolute;
  width: 30%;
  bottom: 13%;
  left: 4%;
  border-bottom: 1px solid white;
  color: white;
  font-size: 2rem;
  text-align: left;
  font-weight: 500;
}

.wrap .img-container a {
  position: absolute;
  bottom: 7%;
  left: 4%;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.footer {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-brand {
  color: rgba(255, 255, 255, 0.4);
  width: 130px;
}

.footer .footer-brand:hover {
  color: rgba(255, 255, 255, 0.4);
}
.footer .footer-warner img {
  width: 25px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.footer a img {
  width: 120px;
  color: rgba(255, 255, 255, 0.4);
}

.footer .assinatura a img:hover {
  color: rgba(255, 255, 255, 0.4);
}
.footer .footer-social {
  display: flex;
}
.footer .footer-social li {
  display: flex;
  list-style: none;
  text-decoration: none;
  border: none;
}
.footer-social a {
  list-style: none;
  text-decoration: none;
  border: none;
}

.footer .footer-social i {
  width: 40px;
  display: flex;
  color: grey;
  font-size: 1.5rem;
}

.footer .footer-social li:nth-last-of-type(1) {
  margin-left: 30px;
}
.footer .footer-social i:hover {
  color: rgba(0, 0, 0, 0.8);
}
.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.left {
  display: grid;
}
.social-left {
  display: flex;
  align-items: flex-end;
  margin-bottom: 70px;
  margin-left: 50px;
  list-style: none;
}

.social-left a {
  font-size: 25px;
  color: var(--menu-color);
  padding: 2px 10px;
}
.social-left li:nth-last-of-type(1) {
  margin-left: 35px;
}
.right {
  display: grid;
  background-color: rgba(0, 0, 0, 0.212);
}

.data-right {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 70px;
  margin-right: 50px;
  list-style: none;
}
.proximas {
  display: flex;
  width: 70%;
  justify-content: space-around;
  text-align: justify;
  font-size: 15px;
  padding: 20px;
}

.proximas a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  padding: 2px 5px;
}

.proximas a:hover {
  color: var(--hover-color);
}
.tabela {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.tabela tbody td {
  padding: 5px 0;
}
.tabela a {
  font-size: 15px;
  margin: 20px 20px 0 0;
  color: white;
  text-decoration: none;
}
.tabela a:hover {
  color: var(--hover-color);
}
.signal {
  display: flex;
  width: 30%;
  justify-content: space-around;
  text-align: justify;
  font-size: 15px;
  padding: 20px;
}
.signal .plus {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: white;
  border: none;
  text-decoration: none;
}
.signal .plus:hover {
  color: var(--hover-color);
}

.signal a {
  font-weight: 100;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2px 20px;
}

.signal .tabela a:hover {
  background-color: var(--hover-color);
}

@media (max-width: 600px) {
}
